.fila-seleccionada td {
  background: #0a246a !important;
  color: white;
}

.unidad-mensaje {
  text-align: center;
  color: #003b8e;
  font-weight: bold;
  margin-bottom: 15px;
}

.unidad-modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.unidad-modal-content {
  width: 380px;
  background: #d7d4cc;
  border: 2px solid #555;
  padding: 18px;
  box-shadow: 4px 4px 10px black;
}

.unidad-modal-content h2 {
  background: #003b8e;
  color: white;
  text-align: center;
  padding: 8px;
  font-size: 16px;
  margin-bottom: 15px;
}

.unidad-modal-content label {
  font-weight: bold;
  color: #003b8e;
  margin-top: 8px;
  display: block;
}

.unidad-modal-content input {
  width: 100%;
  padding: 7px;
  margin-top: 4px;
  margin-bottom: 8px;
  border: 1px solid #777;
}

.modal-buttons {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 10px;
}

.modal-buttons button {
  padding: 8px 18px;
  background: linear-gradient(#0b6781, #053d55);
  color: white;
  border: 2px solid #ccc;
  font-weight: bold;
  cursor: pointer;
}